.custom-bg{
	background: #673ab7!important;
}

.admin .card{
	
}

.admin .card:hover{
	background :#e2e2e2;
	cursor:pointer;
}

.list-group-item-active{
	background: #673ab7!important;
	border-color: #673ab7!important;
}

.discount-label{
	font-size: 10px !important;
	font-style: italic !important;	
	text-decoration:line-through!important;
	
}